@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


:root {
  font-family: Quicksand, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  color: #213547;
}

.app {
  margin: 0;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  width: 100vw;    
}

.home {
  display: block;
}
.padding-20 {
  padding: 20px;
}

.margin-20 {
  margin: 20px;
}




.border-default {
  border: 2px solid rgb(217, 217, 217);
}

.border-primary {
  border: 2px solid #c54a07;
}


.box-shadow-light {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box-shadow-heavy {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.box-shadow-green {
  box-shadow: 0 4px 8px greenyellow;
}

.box-shadow-red {
  box-shadow: 0 4px 8px red;
}


.hidden {
  display: none;
}

.home > p {
  font-size: 24px;
}
#title {
  font-size: 32px;
  font-weight: bold;
}


.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #535bf2;
  transform-origin: left;
}
.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #535bf2;
  transform-origin: right;
}
