@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  font-family: Quicksand, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  color: #213547;
    background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  /* min-height: 100vh; */
  color: #213547;
  
}

.app {
  margin: 0;
}
.content {
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;  
  
}

.home {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}



.navbar {
  /* margin: auto; */
  display: flex;
  /* padding: 0px auto; */
  /* align-items: center; */
  flex-flow: row wrap;
    justify-content: space-evenly;
  /* min-width: 600px; */
  width: 100vw;
  margin: 20px;
  border-bottom: 1px solid #f2f2f2;
  height: 120px;
  margin-bottom: 20px;
  /* padding-bottom: 10px; */
  
}

.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  display: flex;
  align-items: baseline;
  float:left;
  min-width: 100px;
  margin-left: auto;
  margin-right: 20px;
  padding:20px
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-size: 24px;
  color:#213547;
}
.navbar a:hover {
  color: #c54a07;
}




.underline {
  align-content: center;
  width: 0px;
  height: 2px;
  background-color: #c54a07;
  transition: width 0.5s ease-in;
  transition-property: inherit;
}
.navbar .links:hover > .underline{
    
  width: 80px;
  
}
#navbar-logo {
  margin-left: 30px;
  height: 100px;
  width: 100px;
  object-fit: contain; 
  border-radius: 50%;
  
  border: 2px solid #c54a07; 
  
}
.navbarMobile {
  display: none;
}

.hamburgerMenu {
  display: none;
  position: absolute;
  right: 5%;
  
  cursor: pointer;
}

.catalog {
  margin-top: 10px;
  width: 100vw;
  display: block;
  justify-content: center;
}

.catalog-list {
  margin-top: 10px;
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto auto auto;
  
}
.dog {
  color: #242424;
  background-color: #f9f9f9;
  border-radius: 12px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  max-width: 300px; 
  min-width: 250px;
  min-height: 300px;
  margin: 20px; 
  text-align: center; 
  transition: transform 0.3s ease; 
  border: 2px solid rgb(217, 217, 217);
}
.present {
  box-shadow: 0 4px 8px greenyellow;
}
.notPresent {
  box-shadow: 0 4px 8px red;
}

.dog:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#dog-img {
  height: 150px;
  width: 150px;
  object-fit:cover;
  border-radius: 50%;
  border: 2px solid #c54a07;
}

#dog-name {
  font-size: x-large;
  font-weight: bold;
}

#loading {
  
  font-size: x-large;
}


.selected-dog {
  width: 100vw;
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 20px;
  max-width: 600px; 
  margin: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(217, 217, 217);
}

.dog-info {
  height: 100%;
  display: flex;
  align-items: center; 
}

.dog-image {
  max-width: 300px; 
  max-height: 300px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin-right: 20px; 
}

.dog-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  /* border: 2px solid black; */
}

.dog-name {
  font-size: large;
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}

.selected-dog p {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}

.phone-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
  cursor: pointer;
}

.phone-icon:hover {
  opacity: 0.8;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.search-field {
  background-color: #f2f2f2;
  height: 24px;
  min-width: 200px;
  max-width: 400px;
  border-radius: 5px;
  color: #213547;
}

.active-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:5px;
}
.filter-options {
  margin: 5px;
}

.hidden {
  display: none;
}

.home > p {
  font-size: 24px;
}
#title {
  font-size: 32px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {


  .navbar {display: none;}
  .navbarMobile {
    height: auto;
    width: 100vw;
    display:block;
    align-items: center;
    
    /* justify-content: space-between; */
    
    
    
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #f2f2f2;
    
    
  }
  .navbarMobile > a {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    display: block;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
  }
  .navbarMobile .underline {
    display: none;
  }
  .link {
    text-align: end;
    display: block;
    padding: 0;
    margin: 10px;
    
  }
  .links {
    /* display: block; */
    flex-direction: row;
    float: none;
    margin:0;
    padding: 0;
    border: 2px solid saddlebrown;
  }
  .navbarMobile #navbar-logo {

    margin:0;
    padding: 0;
    height: 50px;
    width: 50px;
    margin-left: 40px;
    margin-top: 20px;
    
  }
  .menuOpen {
    background-color: #555;
  }
  
  .navbarMobile a {
    
    font-weight: bold;
    text-decoration: none;
    padding: 0px;
    font-size: 18px;
    color:#c54a07;
  }
  .navbarMobile a:hover {
    color: #c54a07;
  }

  .catalog {
    width: 100vw;
    display: block;
    align-items: center;
    
  }
  
  .catalog-list {
    width: 100vw;
    display: grid;
    
    justify-content: center;
    grid-template-columns: auto auto;
    
    
    
  }

  .hamburgerMenu {
    display: block;
    top:4%;
    
  }

}

@media screen and (max-width: 1280px) { 
  .catalog-list {
    width: 100vw;
    display: grid;
    
    justify-content: center;
    grid-template-columns: auto auto auto;
    
    
  }
}

@media screen and (max-width: 850px) { 
  .selected-dog {
    display: flex;
    justify-content: center;
    /* width: 100%; */
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 20px;
    max-width: 600px; 
    margin: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(217, 217, 217);
  }
  .dog-info {
    flex-direction: column; 
    align-items: center;
}
.dog-details {
  align-items: center;
}

  .catalog-list {
    width: 100vw;
    display: grid;
    
    justify-content: center;
    grid-template-columns: auto auto;
    
    
    
  }
}

@media screen and (max-width: 450px) { 
  .catalog-list {
    width: 100vw;
    display: grid;
    
    justify-content: center;
    grid-template-columns: auto ;
    
    
    
  }
  .selected-dog {
    display: flex;
    justify-content: center;
    /* width: 100%; */
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 20px;
    max-width: 320px; 
    margin: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(217, 217, 217);
  }
  .dog-info {
    flex-direction: column; 
    align-items: center;
}
.dog-details {
  align-items: center;

}

  .dog-image {
    width: 250px;
    margin: 0px;
  }

.active-filter {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  margin:5px;
}
}
